@model UserTask



<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Отредактировать задачу</h2>
        </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" style="background-color:white; width:200px" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" style="background-color:white" />
            
        </div>
        <div>
            <button class="btn btn-danger" style="font-size:larger; width:150px">
                <b>Сохранить</b>
            </button>
            <a asp-controller="UserTask" asp-action="Index" class="btn btn-dark" style="font-size:larger"><b>К списку задач</b></a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
